<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <!-- vuetify -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  <title>3dCalc</title>
</head>

<body>
  <div id="app">
    <v-container>          
      <btns-picker
        :is-mobile="isMobile"
      >

      </btns-picker>
    </v-container>
  </div>

  <script type="text/x-template" id="btns-picker-template">
 
    <v-app id="inspire">
       <div class="main-wrapper"> 
         <!-- <v-toolbar-title class="pa-10 mx-auto"> -->
        <p class="text-lg-h5 text-xs-h5 text--primary pt-5">
           Расчет стоимости 3D печати
        </p> 
    <div class="card-and-buttons"
      :class="{'d-flex flex-column': isMobile}"
    >
      <v-list 
        class="d-flex justify-center flex-row flex-wrap"
        :class="{'d-flex justify-space-between flex-column': !isMobile}"
      >
        
      <btn v-for="(qtype, i) in qtypes" 
      :title="qtype.title"
      :title-of-selected="titleOfSelected"
      :key="qtype.title + qtypes.indexOf(qtype)"
      :whole-info="qtype"
      :is-mobile="isMobile"
      @select="selectType"
      class="mb-5"
      >
      </btn>
      </v-list>

    <div  v-if="titleOfSelected" class="info-card"> 
      <v-card
      outlined
      class="mx-auto"
      :class="{'mr-10': !isMobile}"
      :style="{'width': brkpt, 'height': brkpt}"      
      >
      <v-img
        :src="wholeInfo.imgUrl"
        height="150px"
      ></v-img>
  
      <v-card-title
        :class="{'text-body-1': isMobile}"  
      >
        {{wholeInfo.title}} 
      </v-card-title>
     
      <v-card-subtitle 
        class="pb-0"
        :class="{'text-body-2': isMobile}"    
      >
        Высота слоя - {{wholeInfo.layerHeight}} 
        <br>
        Тип печати - {{wholeInfo.isFDM ? "FDM" : "SLA"}}
      </v-card-subtitle>
  
      <v-card-actions class="pt-0">
  
        <v-spacer></v-spacer>

        <v-btn
          icon
          @click="show = !show"
        >

          <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}
          </v-icon>
  
        </v-btn>
      </v-card-actions>
          <!-- :class="{'flex-row flex-wrap': isMobile}" -->
                <!-- :style="{width: brkpt}" -->
      <v-expand-transition>
        <div 
          v-show="show"
          style="max-width: 265px"
          >
          <v-divider></v-divider>
  
          <v-card-text
          >
            {{wholeInfo.description}}
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
    </div>
    </div>
    <v-card
      v-if="titleOfSelected" 
      flat
      class="mt-5"
      width="60%"
      >

    <v-card-text class="black--text">
   
      <v-slider
        min="0" 
        max="1000"
        v-model="ex3.val"
        :label="wholeInfo.unitTitle"
        :thumb-color="wholeInfo.btnColor"
        :color="wholeInfo.btnColor"
        :track-color="ex3.trackColor2"
        thumb-label="always"
        :thumb-size="30"
        v-model.number="weight"
      ></v-slider>

    <v-card
    flat 
    class="d-flex flex-row" 
    >
        <v-card-text
        class="pt-0">
        <v-row>
        <p 
          class="text-lg-h5 text-xs-subtitle text--primary px-5"
        >
        Ориентировочная стоимость печати:         
        </p>
        <p 
          class="text-h5 text--primary px-5 rounded"
          style="background-color: #ffc107"
          
        >
        {{Math.round(weight * 0.1 * wholeInfo.costPer10g)}} руб.
        </p>
        </v-row>
        </v-card-text>
    </v-card>
  </v-card-text>
  </v-card>

  </div>
  </v-app>
  </script>

  <script type="text/x-template" id="btn-template">

    <v-btn 
      type="button" 
      :outlined="!isSelected"
      :color="wholeInfo.btnColor"
      :x-small="isMobile"
      :class="{'mx-auto': isMobile}"
      @click="select"
      >{{title}} 
    </v-btn>


  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js"></script>

</body>

</html>